:root {
  --bg-color: #050505;
  --text-color: #ffffff;
  --accent-color: #ffffff;
  --font-primary: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
  /* overflow: hidden; - Scrolling re-enabled for Footer */
  /* Disable scrolling */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

canvas {
  touch-action: none;
}